# This .gitignore file should be placed at the root of your Unity project directory

# Ignore all files in the Temp directory
[Tt]emp/

# Ignore all files in the Library directory
[Ll]ibrary/

# Ignore all files in the Build directory
[Bb]uild/

# Ignore all files in the Logs directory
[Ll]ogs/

# Ignore all files in the Obj directory
[Oo]bj/

# Ignore all files in the MemoryCaptures directory
MemoryCaptures/

# Ignore specific file types that may be generated during runtime or by the IDE
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Ignore specific files related to macOS
*.DS_Store
**/*.swp
**/*.swo
**/*.orig

# Ignore crash reports
sysinfo.txt

# Ignore builds
*.apk
*.aab
*.ipa

# Ignore Visual Studio Code directory
.vscode/
